<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 5> Ingeniería Financiera | ITESO </font> <br> <br>

<center> <font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center> <font color=#154360><font size=7> Proyecto <br> <br> Análisis Fundamental </font> <br> <br>

<center> <font color=#004A94><font size=5> Equipo 2 </font> <br> <br>

<center> <font color=#0091EA><font size=4> I.F. Maria Fernanda Ansoleaga | @iteso.mx </font> <br> <br>
<center> <font color=#0091EA><font size=4> I.F. Lidia Natasha Gamez  | if709031@iteso.mx </font> <br> <br>
<center> <font color=#0091EA><font size=4> I.F. Tamara Martinez | @iteso.mx </font> <br> <br>

In [1]:
import funciones as fn
import pandas as pd
import numpy as np

In [2]:
datos = fn.f_leer_archivo(param_archivo='data2.xlsx')
[df_A, df_B, df_C, df_D] = fn.f_clasificacion_ocurrencia(param_data=datos)

/Users/natasha/Documents/Trading/proyecto_equipo_2/funciones.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  param_data['cons'][i] = param_data['previous'][i]

In [3]:
df_A.shape[0] + df_B.shape[0] + df_C.shape[0] + df_D.shape[0]

159

In [4]:
datos.shape[0]

159

In [5]:
datos

                 date  actual  previous  desv  cons
0    04/17/2020 (Mar)     0.5       0.2   0.0   0.5
1    03/18/2020 (Feb)     0.2      -1.0   0.0   0.2
2    02/21/2020 (Jan)    -1.0       0.3   0.0  -1.0
3    01/17/2020 (Dec)     0.3      -0.3   0.0   0.3
4    12/18/2019 (Nov)    -0.3       0.1   0.0  -0.3
..                ...     ...       ...   ...   ...
154  06/14/2007 (May)     0.2       0.6   NaN   0.3
155  05/16/2007 (Apr)     0.6       0.7   NaN   0.5
156  04/16/2007 (Mar)     0.7       0.3   NaN   0.6
157  03/15/2007 (Feb)     0.3      -0.5   NaN   0.3
158  02/28/2007 (Jan)    -0.5       0.0   NaN  -0.5

[159 rows x 5 columns]