<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 5> Ingeniería Financiera | ITESO </font> <br> <br>

<center> <font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center> <font color=#154360><font size=7> Proyecto <br> <br> Análisis Fundamental </font> <br> <br>

<center> <font color=#004A94><font size=5> Equipo 2 </font> <br> <br>

<center> <font color=#0091EA><font size=4> I.F. Maria Fernanda Ansoleaga | @iteso.mx </font> <br> <br>
<center> <font color=#0091EA><font size=4> I.F. Lidia Natasha Gamez  | if709031@iteso.mx </font> <br> <br>
<center> <font color=#0091EA><font size=4> I.F. Tamara Martinez | @iteso.mx </font> <br> <br>

In [1]:
import funciones as fn
import pandas as pd
import numpy as np
import procesos as pr
import datetime 
from datetime import datetime as dt
from datos import OA_Ak

In [2]:
datos = fn.f_leer_archivo(param_archivo='data2.xlsx')
[df_A, df_B, df_C, df_D] = fn.f_clasificacion_ocurrencia(param_data=datos)

/Users/natasha/Documents/Trading/proyecto_equipo_2/funciones.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  param_data['cons'][i] = param_data['previous'][i]

In [3]:
df_A.shape[0]+df_B.shape[0]+df_C.shape[0]+df_D.shape[0] == datos.shape[0]

True

In [4]:
datos

                   date  actual  previous  desv  cons
0   2020-04-17 09:00:00     0.5       0.2   0.0   0.5
1   2020-03-18 09:00:00     0.2      -1.0   0.0   0.2
2   2020-02-21 09:00:00    -1.0       0.3   0.0  -1.0
3   2020-01-17 09:00:00     0.3      -0.3   0.0   0.3
4   2019-12-18 09:00:00    -0.3       0.1   0.0  -0.3
..                  ...     ...       ...   ...   ...
154 2007-06-14 09:00:00     0.2       0.6   NaN   0.3
155 2007-05-16 09:00:00     0.6       0.7   NaN   0.5
156 2007-04-16 09:00:00     0.7       0.3   NaN   0.6
157 2007-03-15 09:00:00     0.3      -0.5   NaN   0.3
158 2007-02-28 09:00:00    -0.5       0.0   NaN  -0.5

[159 rows x 5 columns]

In [ ]:
datos['date'] = [dt.strptime(datos['date'][i], '%m/%d/%Y %H:%M:%S') for i in range(datos.shape[0])]
datos

In [7]:
param_data=df_A
min30 = datetime.timedelta(minutes=32)
min1 = datetime.timedelta(minutes=1)
# token de OANDA
OA_In = "EUR_USD"                  # Instrumento
OA_Gn = "M1"   # Granularidad de velas
fini = pd.to_datetime(param_data.iloc[0,0]+min1).tz_localize('GMT')  # Fecha inicial
ffin = pd.to_datetime(param_data.iloc[0,0]+min30).tz_localize('GMT')  # Fecha final
df_pe = pr.f_precios_masivos(p0_fini=fini, p1_ffin=ffin, p2_gran=OA_Gn,
                                 p3_inst=OA_In, p4_oatk=OA_Ak, p5_ginc=4900)
for i in range(5):
    if i>0:
        fini = pd.to_datetime(param_data.iloc[i,0]+min1).tz_localize('GMT')  # Fecha inicial
        ffin = pd.to_datetime(param_data.iloc[i,0]+min30).tz_localize('GMT')  # Fecha final
        df_pe1 = pr.f_precios_masivos(p0_fini=fini, p1_ffin=ffin, p2_gran=OA_Gn,
                                 p3_inst=OA_In, p4_oatk=OA_Ak, p5_ginc=4900)
        
        df_pe=pd.concat([df_pe,df_pe1]) 
df_pe

                   TimeStamp     Open     High      Low    Close
0  2020-04-17 13:01:00+00:00  1.08655  1.08664  1.08620  1.08636
1  2020-04-17 13:02:00+00:00  1.08634  1.08638  1.08618  1.08626
2  2020-04-17 13:03:00+00:00  1.08626  1.08658  1.08624  1.08656
3  2020-04-17 13:04:00+00:00  1.08656  1.08674  1.08646  1.08674
4  2020-04-17 13:05:00+00:00  1.08676  1.08696  1.08668  1.08668
..                       ...      ...      ...      ...      ...
25 2019-07-17 13:26:00+00:00  1.12166  1.12168  1.12161  1.12164
26 2019-07-17 13:27:00+00:00  1.12162  1.12162  1.12144  1.12144
27 2019-07-17 13:28:00+00:00  1.12146  1.12149  1.12144  1.12149
28 2019-07-17 13:29:00+00:00  1.12147  1.12147  1.12137  1.12137
29 2019-07-17 13:30:00+00:00  1.12140  1.12147  1.12138  1.12142

[150 rows x 5 columns]

In [ ]:
df_A.iloc[1,0]